{% extends 'base.html.twig' %}

{% block title %}Hello UsuarioController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/marka/Desktop/Dice&Dragons/Dicedragons/src/Controller/UsuarioController.php'|file_link(0) }}">src/Controller/UsuarioController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/marka/Desktop/Dice&Dragons/Dicedragons/templates/usuario/index.html.twig'|file_link(0) }}">templates/usuario/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
