{% extends 'base.html.twig' %}

{% block title %}Hello UsuarioController!{% endblock %}

{% block body %}
<section class="container container1270">
<div>
    <h1>Nuevo Usuario</h1>
    <form method="post" action="{{ path('usuario-insert') }}">
        <label for="id_nombre">Nombre</label> 
        <input type="text" id="id_nombre" name="name"> <br><br>
        <label for="id_email">Email</label> 
        <input type="text" id="id_email" name="email"> <br><br>
        <label for="id_pass">Contraseña</label> 
        <input type="password" id="id_pass" name="password"> <br><br>
        <label for="id_rol">Tipo</label> 
        <select name="rol">
            <option value='ROLE_ADMIN'> Dungeon Master </option>
            <option value='ROLE_PLAYER'> Jugador </option>
        </select><br><br>
        <input type="submit" name="Enviar">
    </form>

   
</div>
</section>
{% endblock %}
