{% extends 'base.html.twig' %}

{% block title %}Dice & Dragons{% endblock %}

{% block body %}
    <h1>Edit Partida</h1>

    {{ include('partida/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('partida_index') }}">back to list</a>

    {{ include('partida/_delete_form.html.twig') }}
{% endblock %}
