{% extends 'base.html.twig' %}

{% block title %}New Partida{% endblock %}

{% block body %}
    <h1>Create new Partida</h1>

    {{ include('partida/_form.html.twig') }}

    <a href="{{ path('partida_index') }}">back to list</a>
{% endblock %}
