{% extends 'base.html.twig' %}

{% block title %}Dice & Dragons{% endblock %}

{% block body %}
    <h1>Crear nueva Partida</h1>

    {{ include('partida/_form.html.twig') }}

    <a href="{{ path('partida_index') }}">back to list</a>
{% endblock %}
