{% extends 'base.html.twig' %}

{% block title %}  Razas index  {% endblock %}

{% block body %}
<section class="container container1270">
    <h1>Razas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
        {% for raza in razas %}
            <tr>
                <td>{{ raza.id }}</td>
                <td>{{ raza.Nombre }}</td>
                <td>{{ raza.Descripcion }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    </section>
{% endblock %}
