@import "bootstrap.css";
:root {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    outline: none !important;
  }

  html,body{
        height: 100%;
        font-family: 'Times New Roman', Times, serif !important;
        background-color: antiquewhite !important;
        
  }

.fullWidth{
    max-width: 100%;
   
}

.principal{
    background-image: linear-gradient(to bottom, #f2c942,#faebd7);
    margin-bottom: 80px;
}

.list-group{
    display: flex;
}

.list-group-item{
    border: none;
    background-color: transparent;
    font-weight: bold;
    width: 80%;
    display: flex;
    justify-content: center;
}

.list-group-item:hover{
     background-image: linear-gradient(to bottom, #f2c942, #faebd7); 
     border-radius: 25px;
     transition: .2s;
}

.list-group-item:first-child:hover{
    background-image: linear-gradient(to bottom, #f2c942, #faebd7); 
    border-radius: 25px;
}

.list-group-item:last-child:hover{
    background-image: linear-gradient(to bottom, #f2c942, #faebd7); 
    border-radius: 25px;
}

.bot{
    background-color: transparent;
    padding: 10px;
    border-radius: 25px;
    transition: .2s;
}

.logo{
    width: 20%;
}

.logo_meet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swip {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

.swiper-slide {
  
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
  }

.text{
    font-size: 5.0em;text-align: center;
}

.info {
    background-image: linear-gradient(to bottom, #f2c942,#faebd7);
}

  .NTT{
    padding-top: 100px;
    background-image: linear-gradient(to top, #f2c942,#faebd7);
      width: 100%;
  }

form {
    margin: 10px;
}

#clases > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.required{
    margin-right: 10px;
}

.btn:hover{
    border: solid black !important; 
    color: purple !important;
}

.btn{
    margin: 10px;
    padding: 0 !important;
}

a {
    margin: 10px;
}

.container{
    height: auto;
}

.container1270{
    width: 1270px;
}

.title{
    color: #e84a4a;
    font-size: 5em;
}
.foot{
    background-image: linear-gradient(to top, #f2c942,#faebd7);
    margin: 0;
}

.final{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    flex-wrap: wrap;
   
    padding-top: 20px;
}

.listas{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.f-list{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.final-list{
    padding-right: 50px;
}
