{% extends 'base.html.twig' %}
{% block title %}Dice & Dragons{% endblock %}

{% block javascripts %}
<link  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

{% endblock %}

{% block body %}

<section class="fullWidth container container1270 swip">
 <div class="swiper-slide"> 
<h3>Dungeon20 es una herramienta web gratuita que te permite crear, gestionar
 y compartir tus personajes y campañas para tus partidas de Dungeons &amp; Dragons,
  El Resurgir del Dragón y otros juegos de rol con el sistema D20.</h3>
 </div>
    <div class="swiper-slide"> 
      
    	<a class="link" href="https://www.dndbeyond.com/marketplace/adventures/the-wild-beyond-the-witchlight"  target="_blank"><img src= "{{ asset('img/c9yJAEn8GDeHWqD-hero-bg.jpg') }}" alt="logo" class="NTT"></a>
      <div class="info">
        <h1 class="text">The Wild Beyond The Witchlight</h1>
        <h2>Una vez cada ocho años, el fantástico Carnaval de la Luz de las Brujas aterriza en tu mundo y trae alegría a un asentamiento tras otro. 
        Sus propietarios, Mister Witch y Mister Light, saben montar un buen espectáculo. 
        ¡Pero hay más en esta extravagancia mágica de lo que parece!
        El carnaval es una puerta de entrada a un fantástico dominio Feywild diferente a todo lo que se encuentra en el plano material. 
        Sin embargo, el tiempo no ha sido amable con este reino, 
        y se avecinan días oscuros a menos que alguien pueda frustrar los malvados planes del Aquelarre de Reloj de Arena.</h2>
      </div>

    </div>
    <div class="swiper-slide"> 
		<a class="link" href="https://forgottenrealms.fandom.com/wiki/Underdark" target="_blank"><img src="{{ asset('img/thumb-1920-116399.jpg') }}" alt="logo" class="NTT"></a>
     	<div class="info">
        	<h1 class="text">The Underdark</h1>
			<h2>The Underdark era la vasta red de cavernas y túneles subterráneos debajo de la superficie de Abeir-Toril. 
			Fue el hogar de una gran cantidad de seres malvados que se adentraron en las cavernas al final de la era de los demonios.

			“La ausencia de luz resulta en oscuridad. Entonces, ¿qué resulta de la ausencia del Bien? La Infraoscuridad es un lugar con muy poco de ambos..”
			— Mordenkainen
			</h2>
      	</div>
	</div>
    <div class="swiper-slide"> 
		<a class="link" href="https://forgottenrealms.fandom.com/wiki/Xanathar" target="_blank"><img src="{{ asset('img/thumb-1920-1107324.jpg') }}" alt="logo" class="NTT"></a>
		<div class="info">
        	<h1 class="text">The Xanathar</h1>
			<h2>
			El Xanathar originalmente llamado Kirkesai y anteriormente conocido como el Ojo, 
			fue uno de los espectadores más infames de los Reinos y el señor del crimen del Gremio de Ladrones de Xanathar en Skullport.<br><br>

			El Ojo, como se le conocía originalmente, era un antiguo, arrugado y paranoico espectador de la Colmena Graypeaks.<br><br>

			El Xanathar llegó a Skullport en 1205, ya un esclavizador en busca de un mercado mayor. Con el tiempo, su negocio y su organización crecieron. 
			En un momento, reorganizó su organización en un modelo semiautónomo y se retiró a un segundo plano, difundiendo rumores sobre su desaparición o retiro. 
			Pronto, la mayoría de la gente se olvidó del espectador esclavista y en 
			1304 los Agentes del Ojo eran simplemente una gran red de esclavos en Skullport sin asociación con los espectadores.
		</h2>
      </div>
	</div>
 

</section>

</script>
{% endblock %}
