{% extends 'base.html.twig' %}

{% block title %}Hello DiceController!{% endblock %}

{% block body %}

<section class="container container1270">
<div class="example-wrapper">
    <h1 class="title">TE DAMOS LA BIENVENIDA A DICE AND DRAGONS</h1>

    
<h3>Dungeon20 es una herramienta web gratuita que te permite crear, gestionar
 y compartir tus personajes y campañas para tus partidas de Dungeons & Dragons,
  El Resurgir del Dragón y otros juegos de rol con el sistema D20.</h3>
   
</div>
</section>
{% endblock %}
